* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body 
{
    background-color: rgb(171, 205, 209);
}

.menu {
    padding: 18 px;
    font-family: Arial, Helvetica, sans-serif;
    color:blue;
}
header h1
{
    color: rgb(6, 199, 6);
    font-size: 36;
    font-weight: bold;
}

header nav 
{
padding-top: 15 px;
margin-right: 18 px;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}


header nav ul li a 
{
padding: 50px;
font-size: 21px;
}

header
{
padding: 24px;
justify-content: space-between;
display: flex;
flex-wrap: wrap;
position: sticky;
top: 0;
}

.center-pic
{
height: 330px;
width: 100%;
background-image: url("../pictures/coding.jpg");
background-size: cover;
background-position: center;
}

.brand-statement
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;   
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    justify-content: center;
    color:rgb(5, 5, 100);
    padding-bottom: 30px;
}

h1
{
    padding: auto;
    align-items: center;
    justify-content: center;
}

/*no need to set width*/

section
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/*Width of parent is always 100% in flexbox*/
.flexbox-container
{
    padding-left: 120px;
    padding-right: 12px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
}

.flexbox
{
    width: 50%;
    padding-left: 120px;
    padding-right: 12px;

}

.flexbox img
{
    width: 60%
}

h2 
{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(82, 19, 141);
}

footer
{
    background-color: aqua;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgb(13, 13, 102);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

